.inputTodoList{
    font-size: 24px;
    width: 100%;
}
.cardList{
    margin-top: 5px;
    border: 1px solid whitesmoke;
    background: #606c88;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #3f4c6b, #606c88); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.cardList p{
    font-size: 20px;
    color: white;
    font-weight: bold;
}

.cardTodoList{
    min-width: 500px;
}